@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-sm-12">
        <form class="form-inline">
            <div class="form-group">
                <label for="Files">File input</label>
                <input type="file" id="Files">
            </div>
        </form>
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-12">
        <form class="form-inline right">
            <div class="form-group">
                <input type="text" class="form-control" id="txtSearch" />
                <button type="button" class="btn btn-sm btn-success" id="btnSearch"><i class="glyphicon glyphicon-search"></i> Search</button>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div id="gridUpload"></div>
    </div>
</div>



<script type="text/javascript" src="~/Js/index.js"></script>